.grammar {
  background-color: #9f5a5a;
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 20px;
  margin-right: 3%;
  color:#ffff;
  box-shadow: 0 5px 8px 0 rgba(103, 66, 66, 0.686);
  height: 100%;
  border:  1px solid rgb(216, 200, 200);
}

h4 {
  color: #ffff;
  font-weight: bold;
}

.grammar-rules p {
  color: #ffff;
}


h1 {
  margin-top: 0;
  color: rgb(173, 58, 58);
}

form label {
  color: #ffffff;
  font-weight: bold;
}

.card{
  transition: translate ease-in-out 100ms, box shadow ease-in-out 100ms;
  border: 1px solid rgb(216, 200, 200);
  background-color: #9f5a5a;
  color: black !important;
}

.card:hover,
.card:focus{
  translate: 0 -5px; /*lift the card up 5px*/
  box-shadow: 0 5px 8px 0 rgba(209, 8, 8, 0.686);
  background-color:#f3cfcf;
}

.badge {
  background-color: rgba(13, 112, 142, 0.786) !important;
  color: white !important;
  font-size: 14px;
  padding: 10px;
  margin: 3px;
}

li {
  margin-top: 15px;
  margin-bottom: 10px;
}

li > a {
  color: #ffffff;
  font-weight: bolder;
  text-decoration: none;
}

li > a:hover {
  color: rgba(234, 255, 0, 0.899);
}
