.markdown {
  background-color: #fcf2f2;
  color: rgb(0, 0, 0);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(123, 8, 8, 0.764);
  line-height: 1.6;
}

.badge {
  font-size: 60px !important;
  padding: 20px;
}
